.pagination {
  display: flex;
  margin: 1rem 0;
  justify-content: center;
}

.paginationList {
  display: flex;
  flex-direction: row;
}

.paginationPage {
  background-color: var(--color-button);
  padding: 10px 15px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: var(--border-radius);
}
