.button {
  background-color: var(--color-button);
  padding: 10px 30px;
  border-radius: var(--border-radius);
  margin: 5px;
  width: 100%;
  letter-spacing: 4px;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.4s;
}

.button:hover {
  background-color: #d43a25;
}
