@import "@fontsource/lato";

:root {
  --font-family: "Lato", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #22edfb 1.84%, #ff4d71 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ff4d71 15.86%, #22edfb 99.55%);
  --gradient-exp: linear-gradient(
    180deg,
    rgba(4, 44, 84, 1) 15.86%,
    rgba(27, 120, 222, 1) 99.55%
  );

  --color-bg: #edc7b7;
  --color-title: #ff523b;
  --color-label: #ff6e5b;
  --color-text: #3a3a3a;
  --color-block: #eee2dc;
  --color-subtext: #ff8a71;
  --color-button: #ff523b;
  --color-border: #fc8b7c;
  --color-disabled: #bab2b5;
  --border-radius: 10px;
}
